{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "eslint:recommended"],
  "plugins": ["@typescript-eslint", "unused-imports"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "project": "tsconfig.json",
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
  },
  "rules": {
    "unused-imports/no-unused-imports": 1,
    "no-unused-vars": 1,
    "no-console": "off",
    "prefer-const": 1,
    "no-debugger": 1,
    "@typescript-eslint/no-explicit-any": "off",
  },
}
